/*
** Appearence
*/
body {
  font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
}
.unseated {
  background-color: #AAA;
}
.seatmap {
  background-color: #CCC;
}
.seat {
  background-color: #DDD;
  border-radius: 5px;
}
.student-item {
  background-color: #88F;
  border-radius: 5px;
}

.unseated {
  width: 18%;
  height: 600px;
  float: left;
}
.seatmap {
  width: 80%;
  height: 600px;
  margin-left: 2%;
  float: left;
}
.row {
  height: 150px;
}
.seat {
  width: 90px;
  min-height: 60px;
  margin: 8px 0 0 8px;
  float: left;
}
/*
** Page layout
*/
.seating-chart {
  min-width: 1000px;
}
.student-item {
  width: 90%;
  margin-bottom: 5px;
}

/*
** Muuri required CSS
*/
.area { position: relative; }
.student-item { position: absolute; }
.student-content { position: relative; }
